## Observations and Insights

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "Resources/Mouse_metadata.csv"
study_results_path = "Resources/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
overall_mouse_data_df = pd.merge(study_results, mouse_metadata,
                                 how='outer', on='Mouse ID')

# Display the data table for preview
#mouse_metadata.count()
#study_results.count()
overall_mouse_data_df.head(50)

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
5,b128,25,43.262145,1,Capomulin,Female,9,22
6,b128,30,40.605335,1,Capomulin,Female,9,22
7,b128,35,37.967644,1,Capomulin,Female,9,22
8,b128,40,38.379726,2,Capomulin,Female,9,22
9,b128,45,38.982878,2,Capomulin,Female,9,22
10,f932,0,45.000000,0,Ketapril,Male,15,29
11,g107,0,45.000000,0,Ketapril,Female,2,29
12,g107,5,48.791665,0,Ketapril,Female,2,29
13,g107,10,53.435987,0,Ketapril,Female,2,29
14,g107,15,58.135545,0,Ketapril,Female,2,29
15,g107,20,62.706031,0,Ketapril,Female,2,29
16,g107,25,64.663626,0,Ketapril,Female,2,29
17,g107,30,69.160520,0,Ketapril,Female,2,29
18,g107,35,71.905117,0,Ketapril,Female,2,29
19,a457,0,45.000000,0,Ketapril,Female,11,30
20,a457,5,47.462891,0,Ketapril,Female,11,30
21,a457,10,49.783419,0,Ketapril,Female,11,30
22,c819,0,45.000000,0,Ketapril,Male,21,25
23,c819,5,45.769249,1,Ketapril,Male,21,25
24,c819,10,46.658395,1,Ketapril,Male,21,25
25,c819,15,48.370999,1,Ketapril,Male,21,25
26,c819,20,49.762415,1,Ketapril,Male,21,25
27,c819,25,51.828357,1,Ketapril,Male,21,25
28,c819,30,56.098998,1,Ketapril,Male,21,25
29,c819,35,57.729535,1,Ketapril,Male,21,25
30,c819,40,62.175705,1,Ketapril,Male,21,25
31,h246,0,45.000000,0,Ketapril,Male,13,30
32,h246,5,49.470417,0,Ketapril,Male,13,30
33,h246,10,51.368862,1,Ketapril,Male,13,30
34,h246,15,56.184327,1,Ketapril,Male,13,30
35,h246,20,57.935912,1,Ketapril,Male,13,30
36,h246,25,59.548854,1,Ketapril,Male,13,30
37,h246,30,63.599610,1,Ketapril,Male,13,30
38,h246,35,67.211270,2,Ketapril,Male,13,30
39,h246,40,71.150835,2,Ketapril,Male,13,30
40,h246,45,74.104086,2,Ketapril,Male,13,30
41,p189,0,45.000000,0,Ketapril,Male,8,28
42,p189,5,49.048707,1,Ketapril,Male,8,28
43,p189,10,51.582162,2,Ketapril,Male,8,28
44,p189,15,53.675542,2,Ketapril,Male,8,28
45,p189,20,56.530204,3,Ketapril,Male,8,28
46,p189,25,62.108960,3,Ketapril,Male,8,28
47,p189,30,67.104537,4,Ketapril,Male,8,28
48,p189,35,67.873777,4,Ketapril,Male,8,28
49,p189,40,74.106091,4,Ketapril,Male,8,28

In [11]:
overall_mouse_data_df.dtypes

Mouse ID               object
Timepoint               int64
Tumor Volume (mm3)    float64
Metastatic Sites        int64
Drug Regimen           object
Sex                    object
Age_months              int64
Weight (g)              int64
dtype: object

In [12]:
# Checking the number of mice.
mouse_count_df = overall_mouse_data_df.count()
mouse_count_df

Mouse ID              1893
Timepoint             1893
Tumor Volume (mm3)    1893
Metastatic Sites      1893
Drug Regimen          1893
Sex                   1893
Age_months            1893
Weight (g)            1893
dtype: int64

In [21]:
# Dropped the duplicate mouse data.
mouse_data_nodupes_df= overall_mouse_data_df.drop_duplicates(subset=['Mouse ID','Timepoint'])
mouse_data_nodupes_df.count()

Mouse ID              1888
Timepoint             1888
Tumor Volume (mm3)    1888
Metastatic Sites      1888
Drug Regimen          1888
Sex                   1888
Age_months            1888
Weight (g)            1888
dtype: int64

## Summary Statistics

In [22]:
#Find the unique drug types
mouse_data_nodupes_df.groupby('Drug Regimen', as_index = True)["Tumor Volume (mm3)"].describe()
#print(mouse_data_nodupes_df['Tumor Volume (mm3)'].mean()
#print(mouse_data_nodupes_df['Tumor Volume (mm3)'].median()

,count,mean,std,min,25%,50%,75%,max
Drug Regimen,,,,,,,,
Capomulin,230.0,40.675741,4.994774,23.343598,37.685933,41.557809,45.000000,48.158209
Ceftamin,178.0,52.591172,6.268188,45.000000,47.208427,51.776157,56.801438,68.923185
Infubinol,178.0,52.884795,6.567243,36.321346,47.312353,51.820584,57.314444,72.226731
Ketapril,188.0,55.235638,8.279709,45.000000,48.232987,53.698743,60.870951,78.567014
Naftisol,186.0,54.331565,8.134708,45.000000,47.285874,52.509285,59.963034,76.668817
Placebo,181.0,54.033581,7.821003,45.000000,47.459053,52.288934,59.916934,73.212939
Propriva,156.0,52.393463,6.568014,45.000000,47.046068,50.909965,56.491585,72.455421
Ramicane,228.0,40.216745,4.846308,22.050126,36.674635,40.673236,45.000000,47.622816
Stelasyn,181.0,54.233149,7.710419,45.000000,48.047139,52.431737,58.719297,75.123690
Zoniferol,182.0,53.236507,6.966589,45.000000,47.337876,51.818479,57.954259,73.324432

In [20]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
drug_stats_df = mouse_data_nodupes_df.loc[mouse_data_nodupes_df['Drug Regimen'] == "Capomulin"]
#campomulin_df.head()

print(drug_stats_df['Tumor Volume (mm3)'].mean())
print(drug_stats_df['Tumor Volume (mm3)'].median()
#print(drug_stats_df['Tumor Volume (mm3)'].std()

#TODOS - Finish the analsis of this drug.  
#https://stackoverflow.com/questions/7837722/what-is-the-most-efficient-way-to-loop-through-dataframes-with-pandas

SyntaxError: unexpected EOF while parsing (<ipython-input-20-5112f4960203>, line 10)

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen